* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.general{
    border-style: solid;
    border-color: darkgray;
    width: 462px;
}
.art{
    padding: 20px;
}
.ls{
    text-transform: uppercase;
    color: #b0aba6;
}
h1{
    color: #646464;
}
.description{
    color: #646464;
}
img{
    width: 420px;
    height: 280px;
}
