@import "var.css";
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.text{
    font-family: var(--text);
    font-size:14px;
    color: #949494;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 5px;/*что бы контейнер не прилипал к краю экрана*/
}
.wrapper-header{
    background-image: url(../img/mount.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}
.wrapper-top{
    background-color: rgba(255, 255, 255, 0.25);
    /*line-height: 80px; (когда не добавляеться больше контента)*/
    /*padding: ; (дрочь не для флекса)*/
}
.header{
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center; /*выравнивание по центру по вертикали*/
}
.menu{
    display: flex;
    justify-content: space-between;
}
.nav{
    flex-basis: 510px; /*используеться только для элементов*/
}
.logo{
    font-family: 'Euphoria Script', cursive;
    font-size: 29px;
    color: #95a5ad;
    text-transform: capitalize;
}
.menu-link{
    color: #9daeb6;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}
.menu-link:hover{
    border-bottom: 2px solid var(--btn-color);
    transition: 0.5s;

}
/*.menu-link:hover:after{*/
    /*display: block;*/
    /*content: '';*/
    /*width: 100%;*/
    /*height: 2px;*/
    /*background-color: var(--btn-color);*/
/*}*/
.call{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    background-color: transparent;
    text-transform: uppercase;
    color: var(--btn-color);
    padding: 15px 44px;
    border: 3px solid var(--btn-color);
    border-radius: 5px;
    transition: 1s;
}
.call:hover{
    background-color: var(--btn-color);
    color: white;
    font-size: 15px;
}
.info{
    padding: 170px 0 190px 40px;
}
.info-title{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-family: var(--text);
}
.info-span{
    font-family: 'Euphoria Script', cursive;
    color: var(--btn-color);
    display: block;
    text-transform: uppercase;
    margin-top: -25px;
}
.info-text{
    font-family: var(--text);
    font-size: 18px;
    color: #dfe3e6;
    max-width: 430px;
}
.info-btn{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    background-color: var(--btn-color);
    text-transform: uppercase;
    color: white;
    padding: 20px 75px;
    border: 3px solid var(--btn-color);
    border-radius: 5px;
    transition: 1s; /* задержка*/
    margin-top: 30px;
    letter-spacing: 2px; /*растояние между буквами*/
}
.info-btn:hover{
    background-color: transparent; /* прозрачный*/
    /*color: white;*/
    font-size: 15px; /* в hover задать font-size для увеличение кнопки при наведении*/
}
.wrapper{
    background-color: #f6f4f4;
}
.about{
    position: relative;
    padding: 255px 0 230px;
    background-image: url(../img/Gallery22.jpg);
    background-position: 20px 90px;
    background-repeat: no-repeat;
}
.about-title{
    font-family: var(--text);
    font-size: 20px;
    color: #393b44;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.about-text{
    font-family: var(--text);
    font-size: 14px;
    color: #949494;
    max-width: 352px;
}
.about-btn{
    padding: 14px 23px;
    font-size: 12px;
}
.about-pict1{
    position: absolute;
    display: block;
    width: 810px;
    height: 570px;
    top: -35px;
    right: -8.5%;
}
.about-pict2{
    position: absolute;
    display: block;
    width: 350px;
    height: 350px;
    bottom: -6px;
    left: 34%;
}
.wrapper-journal{
    background-color: white;
}
.title{
    text-transform: uppercase;
    text-align: center;
    color: #2c2e37;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
}
.journal{
    padding: 110px 0 90px;
    counter-reset: journal-counter; /*название счетчика*/
}
.journal-body{
    display: flex;
}
.journal-article{
    flex-basis: 33.3%;
    counter-increment: journal-counter; /* то что мы хотим что бы считал счетчик*/
}
.journal-article-caption{
    font-size: 11px;
    text-transform: uppercase;
    font-family: var(--text);
    color: var(--btn-color);
    font-weight: 700;
    /*margin-bottom:80px;*/
}
.journal-img{
    width: 380px;
    height: 380px;
}
.journal-article-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--text);
    margin: 50px 0 30px;
}
.article-content{
    padding: 50px 30px 30px;
    text-align: center;
}
.reverce{
    display: flex;
    flex-direction: column-reverse; /*создали счетчик*/
}
.article-content > .text:after {
    content: "0" counter(journal-counter);
    display: block; /* создание счетчика*/
    font-family: "Times New Roman", serif;
    font-style: italic;
    margin-top: 27px;
    font-size: 14px;
}

.icon-container{
    position: relative;
}
.fa-tint, .fa-envira, .fa-gratipay{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%,-50%);
    color: white;

}
