*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.box1{
    height: 400px;
    width: 70%;
    background-color: #1abc9c;
    margin: 40px auto;
}
.box1:hover {
    width: 100%;
    height: 400px;
    background: chocolate;
    transition: 1s;
}
.btn{
    display: block;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    padding: 1.2em 2em ;
    background-color: rgb(86, 114, 221);
    margin: 60px auto;
    transition: 1s cubic-bezier(1,-0.25,1,-0.25)

}
.btn:hover{
    transform: rotate(-45deg) scale(1.52);
    /*font-size: 40px;*/
   background-color: #ffa082;
}