* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: auto;
    max-width: 900px;
}
.navigation li{
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
    text-align: center;

}
a{
    text-decoration: none;
    color: #82868f;
    font-size: 20px;
}
a:hover{
    color: #45494d;
}
article{
    display: inline-block;
    width: 430px;
    padding-left: 0;
}
footer{
    text-align: center;
    margin-top: 45px;
}
button{
    width: 100px;
    height: 45px;
}
ul{
    text-align: center;
}
.navigation li:last-child{
    margin-right: 0px;
}
article:nth-of-type(2n+1){
    margin-right: 20px;
}
p{
    margin-top: 10px;
}