* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    text-align: center;
    margin: 10px;
}
.navigation li{
    display: inline-block;
    padding: 15px 40px 60px 60px;
    text-transform: uppercase;

}
a{
    text-decoration: none;
    color: #82868f;
    font-size: 20px;
}
a:hover{
    color: #45494d;
}
article{
    display: inline-block;
    width: 430px;
    padding-left: 0;
}
main{
    text-align: center;
}
.Photo{
    text-align: left;
}
footer{
    text-align: center;
    padding-top: 45px;
}
button{
    width: 100px;
    height: 45px;
}